<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>链接：</span>
    <a
      b-slate-link
      href="http://chat.liyaorui.cloud/" target="_blank"
    >
      ChatGpt永久发布页
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="http://chat.liyaorui.cloud/price.html" target="_blank"
    >
      了解资费详情
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="http://liyaorui.cloud/" target="_blank"
    >
      649中转站
    </a>
  </p>
</footer>
