---
import { model } from '../utils/openAI'
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">649官方</span>
    <span class="gpt-subtitle">ChatGPT免费版</span>
  </div>
  <p mt-1 op-60>本站完全免费使用，部分时间可能会卡顿或无法使用，这是正常的，请使用其他通道或等待片刻，你也可以购买|VIP版|永久稳定、独立专用通道、多模型随时使用，详情请点击下方的[了解资费详情]</p>
</header>
